.container{
    box-shadow: 0px 2px 4px #E3E4E8E3;
    background-color: #fff;
    border-radius: 4px;    
    width: 500px;  // for test
    margin: 50px; // for test

    .spaces{
        padding: 30px;
    }

    .cardTitle{
        color: #2D2D2D;
        font-size: 16px;
        font-weight: 900;
        margin: 0;
        line-height: 1.4;
		text-align: start;
		white-space: normal;
        margin: 16px 0 12px 0;
    }
    
    .head{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .iconsContainer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px
        }
    }
}