.optionTitle{
    color: #828E99;
    font-size: 16px;
}
.optionsContainer{
    list-style: none;
    margin: 0;
    padding: 0;
    .optionItem{
        color: #404040;
        font-size: 14px;
    }
}