.cardFooter{
    display: flex;
    justify-content: space-between;
    width: 90%;
    .itemContainer{
        display: flex;
        justify-content: space-between;
    }
    .footerImage{
        object-fit: contain;
    }
    .footerText{
        color: #404040;
        font-size: 14px;
        margin-inline-start: 5px;

        @media (max-width: 575.98px) { 
            font-size: 13px;
         }
    }
}