.wrapper {
  width: 80%;
  background-color: #fff;
  float: right;

  .auction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
    .auctionHeader {
      text-align: center;
      h3 {
        color: #e51937;
        font-size: 14px;
        margin-bottom: 18px;
      }
      p {
        color: #404040;
        font-size: 12px;
        margin: 0;
      }
    }
    .auctionBody {
      img {
        margin-top: 30px;
      }
    }
  }
}
