.container{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px 0 rgba(227, 228, 232, 0.89);
    border-radius: 4px ;
    width: 230px; // for test
    margin: 50px; // for test
    // width: 100%;
}
.cardMedia{ 
    position: relative;
    font-size: 0;
    .cardImage{
        width: 100%;
    }
}
.cardContentContainer{
    display: flex;
    flex-direction: column;

    .cardContent{
        padding: 10px 10px 0 10px;

        .cardTitle{
            color: #3f3f3f;
            font-size: 16px;
            font-weight: 500;
            margin: 0;
            line-height: 1.4;
            text-align: start;
            white-space: normal;
            @media (max-width: 575.98px) { 
                font-size: 14px;
             }
    
        }

        .cardPrice{
            font-size: 20px;
            color: #58a722;
            font-weight: 500;
            margin: 0;
            text-align: start;
            white-space: normal;
            line-height: 1;
            sup{
                font-size: 14px;
                margin-inline-end: 5px;
                font-weight: 400;
                
                @media (max-width: 575.98px) { 
                    font-size: 12px;
                 }
            }
    
            @media (max-width: 575.98px) { 
                font-size: 18px;
             }
        }

    }

    .cardFooterContainer{
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 0 10px 10px 10px;
    }

}