.container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .itemContainer{
        display: flex;
        align-items: center;
        gap: 10px;

        .title{
            color: #828E99;
            font-size: 10px;
            margin: 0;
        }
        .text{
            color: #404040;
            font-size: 12px;
            margin: 0;
        }
    }
}